/****************************/
/******  NAVIGATION BAR  ****/
/****************************/
.nav{
    height:60px;
    font-size: 21.6px;
    background-color: #2980b9;
    text-transform: uppercase;
}
.nav ul{
    margin: 11.2px;
}
.nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 8px 10px;    
}
.nav ul a{
    text-decoration: none;
    color: #fff;
}
.brand{
    float: left;
}
.right{
    color: #fff;
    overflow: hidden;
    float: right;
}
ul.right li:not(:last-child){display: none;}


.divider,.divider-full{
    border-bottom: 1.7px solid #c8c8c8;
    margin: auto;
}
.divider{
    width: 88%;
}
.divider-full{
    width: 100%;    
}
/****************************/
/******    PANEL STYLNG  ****/
/****************************/
.panel{
    border: 1px solid #c8c8c8;
    border-radius: 3px;
}
.panel-heading{
    padding: 2%;
    border-bottom: 1.3px solid #c8c8c8;
    background-color: rgb(189, 195, 199);
}
.panel-body{
    padding:1% 2%;
    background-color: rgb(247, 245, 245);
}
/****************************/
/****** RESPONSIVE STYLNG****/
/****************************/
.row::after{
    content: "";
    clear: both;
    display: table;
}

[class*="col-"]{
    float: left;
    width: 100%;
}
@media only screen and (min-width:425px){
    [class*="col-m"]{
        margin:1%;
    }
    .col-m-1{
        width: 14.66667%;
    }
    .col-m-2{
        width: 31.33333%;
    }
    .col-m-3{
        width: 48%;
    }
    .col-m-4{
        width: 64.66667%;
    }
    .col-m-5{
        width: 81.33333%;
    }
    .col-m-6{
        width: 98%;
    }
}

@media only screen and (min-width:768px){
    [class*="col-l"]{
        margin:3%;
    }
    .col-l-1{
        width: 10.66667%;
    }
    .col-l-2{
        width: 27.33333%;
    }
    .col-l-3{
        width: 44%;
    }
    .col-l-4{
        width: 60.66667%;
    }
    .col-l-5{
        width: 77.33333%;
    }
    .col-l-6{
        width: 94%;
    }
    ul.right li:last-child{display:none;}
    ul.right li:not(:last-child){display:inline-block;}
}