@import url('https://fonts.googleapis.com/css?family=Merienda+One|Raleway');
*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}   
body{
    font-size:18px;
    font-family: 'Raleway', sans-serif;
    background-color:#ecf0f1;
}
h1{
    padding: 1%;
    margin: 1.5%;
    width:97%;
    font-family: 'Merienda One', cursive;
    border-bottom: 1.3px solid #c8c8c8;
}
.blog-content{
    padding:1.5%;
    text-align:justify;
}
.blog-info{
    text-align:right;
    font-weight:bold;
    font-size:110%;
}
.blog-box{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.25), 0 6px 20px 0 rgba(0, 0, 0, 0.23);
    border-radius: 3px;
}
figure .blog-back{
    width: 100%;
    height: 32%;
    border-radius: 3px 3px 0 0;
    background-color: #2980b9;
    background-position:center;
    background-size:cover;
    background-repeat: no-repeat;
}
figcaption{
    font-size: 105%;
    font-weight: 600;
    padding:2% 1%;
}
.blog-min-info{
    padding: 3% 1%;
    font-size: 88%;
}