@import url('https://fonts.googleapis.com/css?family=Merienda');
*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}
body{
    font-size:18px;
    font-family:'sans-serif';
    background-color:#f2f2f2;
}
h1{
    padding: 1%;
    margin: 1.5%;
    width:97%;
    font-family: 'Merienda', cursive;
    border-bottom: 1.3px solid #c8c8c8;
}
.blog-content{
    padding:1.5%;
    text-align:justify;
}
.blog-info{
    text-align:right;
    font-weight:bold;
    font-size:110%;
}
.blog-box{
    box-shadow: 1px 2px 4px 0 #000,-1px 2px 4px 0 #000;
    border-radius: 3px;
}
figure img{
    width: 100%;
}
figcaption{
    font-size: 105%;
    font-weight: 600;
    padding:2% 1%;
}
.blog-min-info{
    padding: 3% 1%;
    font-size: 88%;
    
}